--upgrade pip
Django==4.2.2
django-adminlte-3==0.1.6
django-allauth==0.59.0
django-crispy-forms==2.1
django-environ==0.8.1
django-filter==23.4
django-jalali==6.0.1
django-jet==1.0.8
django-material-admin==1.8.6
django-plotly-dash==2.2.2
django-widget-tweaks==1.4.8
djangorestframework==3.14.0
python-bidi==0.4.2
python-dateutil==2.8.2
python3-openid==3.2.0
six==1.16.0
smmap==5.0.1
social-auth-core==4.5.0
soupsieve==2.5
tzdata==2023.3
