{% extends "index.html" %}


{% block content %}
  
 

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <div class="col-lg-10 d-flex justify-content-center">
          <h4><u><b>Wine Quality Data Analysis Project</b></u></h4>
          </div>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Project Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../assets/img/portfolio/project3b.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/portfolio/project3a.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="../assets/img/portfolio/project3c.gif" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Machine Learning & Data Science</li>
                <li><strong>Client</strong>: Corizo Internship</li>
                <li><strong>Project date</strong>: 15 February, 2023</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/rohitrkvarathe111/Wine-Quality-Data-Exploration-and-Analysis-Python">Wine Quality Analysis</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Wine Quality Analysis </h2>
              <h6><u>Exploratory data analysis & classification work with machine learning models</u></h6>

              <p>
                This project harnesses historical stock data to predict future prices, emphasizing a data-driven strategy. After importing and transforming the dataset, descriptive statistics and visualizations provide insights. A key aspect is forecasting with a linear regression model, using tools like Matplotlib and Scikit-learn. The project's focus is on deriving valuable insights from past data for informed stock price predictions.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
         <strong><span>  </span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="index.html">Rohit</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.umd.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  {% endblock %}
</body>

</html>
